<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>

<form action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
    </div>
    <div>
        <button type="submit">Entrar</button>
    </div>
    <div th:if="${error}" style="color: red;">${error}</div>
</form>

<p>Não tem uma conta? <a th:href="@{/autenticacao/signup}">Cadastre-se aqui</a></p>
</body>
</html>


